@page
@model GobernaRegistroBio.App.Frontend.Pages.DetallesPersonal_AseoModel
@{
}
<h1>Detalles del Personal de aseo</h1>
<table class="table">
    <tr>
        <td>@Model.personal_aseo.Nombre</td>
        <td>@Model.personal_aseo.Apellidos</td>
        <td>@Model.personal_aseo.Identificacion</td>
        <td>@Model.personal_aseo.Edad</td>
        <td>@Model.personal_aseo.Estado</td>
        <td>@Model.personal_aseo.Direccion</td>
        <td>@Model.personal_aseo.Telefono</td>
        <td>@Model.personal_aseo.Rol</td>
        <td>@Model.personal_aseo.Turno_Servicio</td>  
        <td>@Model.personal_aseo.Ubicacion</td> 
        <td>@Model.personal_aseo.Genero</td> 
    </tr>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/Listas/Personal_Aseo">Personal Aseo</a>