@page
@model GobernaRegistroBio.App.Frontend.Pages.DetallesSecretarios_DespachoModel
@{
}
<h1>Detalles de Secretarios de despacho</h1>
<table class="table">
    <tr>
        <td>@Model.secretarios_despacho.Nombre</td>
        <td>@Model.secretarios_despacho.Apellidos</td>
        <td>@Model.secretarios_despacho.Identificacion</td>
        <td>@Model.secretarios_despacho.Edad</td>
        <td>@Model.secretarios_despacho.Estado</td>
        <td>@Model.secretarios_despacho.Direccion</td>
        <td>@Model.secretarios_despacho.Telefono</td>
        <td>@Model.secretarios_despacho.Rol</td>
        <td>@Model.secretarios_despacho.Ubicacion</td> 
        <td>@Model.secretarios_despacho.Genero</td> 
        
          
    </tr>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/Listas7/Secretarios_Despacho">Secretario de despacho</a>