@page
@model GobernaRegistroBio.App.Frontend.Pages.EliminarSecretarios_DespachoModel
@{
}
<h1>Se va a eliminar secretarios de despacho</h1>
<table class="table">
    <tr>
        <td>@Model.secretarios_despacho.Nombre</td>
        <td>@Model.secretarios_despacho.Apellidos</td>
        <td>@Model.secretarios_despacho.Identificacion</td>
        <td>@Model.secretarios_despacho.Edad</td>
        <td>@Model.secretarios_despacho.Estado</td>
        <td>@Model.secretarios_despacho.Direccion</td>
        <td>@Model.secretarios_despacho.Telefono</td>
        <td>@Model.secretarios_despacho.Rol</td>
        <td>@Model.secretarios_despacho.Ubicacion</td> 
        <td>@Model.secretarios_despacho.Genero</td>     
        
       
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="secretarios_despacho.Id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>