@page
@model GobernaRegistroBio.App.Frontend.Pages.DetallesGobernador_AsesoresModel
@{
}
<h1>Detalles de gobernadores asesores</h1>
<table class="table">
    <tr>
        <td>@Model.gobernador_asesores.Oficinas_Visitadas</td>
        <td>@Model.gobernador_asesores.Ubicacion</td>
        <td>@Model.gobernador_asesores.Nombre</td>
        <td>@Model.gobernador_asesores.Apellidos</td>
        <td>@Model.gobernador_asesores.Identificacion</td>
        <td>@Model.gobernador_asesores.Edad</td>
        <td>@Model.gobernador_asesores.Estado</td>
        <td>@Model.gobernador_asesores.Direccion</td>
        <td>@Model.gobernador_asesores.Telefono</td>
        <td>@Model.gobernador_asesores.Rol</td>
        <td>@Model.gobernador_asesores.Genero</td> 
    </tr>
        
          
    </tr>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/Listas/Dependencia">Gobernador Asesores</a>