@page
@model GobernaRegistroBio.App.Frontend.Pages.Gobernador_AsesoresModel
@{
}

<h1>Lista de gobernadores asesores</h1>
<table class="table">
    @foreach (var gobernador_asesores in Model.GObernador_Asesores)
    {
        <tr>
            <td>@gobernador_asesores.Nombre</td>
            <td>@gobernador_asesores.Apellidos</td>
            <td>@gobernador_asesores.Identificacion</td>
            <td>@gobernador_asesores.Edad</td>
            <td>@gobernador_asesores.Estado</td>
            <td>@gobernador_asesores.Direccion</td>
            <td>@gobernador_asesores.Telefono</td>
            <td>@gobernador_asesores.Rol</td>
            <td>@gobernador_asesores.Ubicacion</td>  
            <td>@gobernador_asesores.Genero</td> 
            <td>@gobernador_asesores.Oficinas_Visitadas</td>
            
                 

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesGobernador_Asesores" asp-route-gobernador_asesoresId="@gobernador_asesores.Id">
                <i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </td>

            <td>
                <a class="btn btn-secondary table-btn" asp-page="./EditarGobernador_Asesores" asp-route-gobernador_asesoresId="@gobernador_asesores.Id">
                <i class="fas fa-address-book" aria-hidden="true"></i></a>
            </td>

            <td>
                <a class="btn btn-danger table-btn" asp-page="./EliminarGobernador_Asesores" asp-route-gobernador_asesoresId="@gobernador_asesores.Id">
                <i class="fas fa-book-dead" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\EditarGobernador_Asesores" class="btn btn-primary">Adicionar Gobernador Asesor</a>

